@import url('./styles/loading.css');
@import url('./styles/nav.css');
@import url('./styles/accordionCategory.css');
@import url('./styles/home.css');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  position: relative;
}